* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Helvetica, sans-serif;
}

body {
  background: #1c1c1c;
}

.app-container {
  max-width: 900px;
  min-height: 100vh; /* min height will be 100% of veiwport just in case some searches only return small num of stories*/
  margin: 0 auto;
  padding: 20px;
  color: #f0f0f0;
}

/* NAVBAR */
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  margin: 0 10px;
}

/* FORMS */
.form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto 0 auto;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 10px 0;
  background: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 24px;
  padding: 5px;
  color: #f0f0f0;
  outline: none;
}

.form-input:focus {
  border: 1px solid crimson;
}

.search-form-container {
  display: flex;
  align-items: center;
}

.search-form-body {
  padding: 10px 0 20px 0;
  display: flex;
}

.form-button {
  color: #f0f0f0;
  background-color: crimson;
  font-size: 24px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.form-alert {
  color: crimson;
  font-size: 24px;
  margin: 10px 0;
}

.form-helper-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

/* ROUTER LINKS */
.link {
  text-decoration: none;
  color: crimson;
}

.title-link {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #f0f0f0;
}

.title-link:hover {
  color: crimson;
}

.list-control {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

/* target span that are imediate children of .item */
.item > span {
  padding: 0 5px;
  white-space: nowrap; /* prevents span from wrapping to end when width exhasted */
  overflow: hidden; /* hides text that overflows since there is no wrapping */
  text-overflow: ellipsis; /* appends ... to end of span when width exhasted */
}

/* target a tags that are immediate children of span which is an immediate child of .item */
.item > span > a {
  text-decoration: none;
  color: inherit;
}

.button {
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  border: none;
  color: gray;
  outline: none;
}

.button:hover {
  color: #5c5c5c;
}

.button_small {
  padding: 5px;
}

.button-hide {
  visibility: hidden;
}

.util-button {
  border: none;
  background: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

/* any svg immediately within a util button should be filled white  */
.util-button > svg {
  fill: #f0f0f0;
}

.util-button:hover > svg {
  fill: crimson;
}

.util-button-disable {
  border: none;
  background: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
.util-button-disable > svg {
  fill: #f0f0f0;
}

.button-history-container {
  padding-left: 7px;
  display: block;
}

.button-search {
  border: none;
  border-bottom: 1px solid #fff;
}

/* .button-like {
  border: none;
  background: transparent;
  padding-right: 5px;
  cursor: pointer;
} */

/* search from input */
.input {
  border: none;
  border-bottom: 1px solid #f0f0f0;
  background-color: transparent;
  color: crimson;
  width: 200px;
  font-size: 24px;
}

.input:focus {
  outline: none;
}

.sort-icon {
  fill: crimson; /* default color of svg should be white since dark background */
}
