* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Helvetica, sans-serif;
}

body {
  background: #3d3d3d;
}

.container {
  max-width: 900px;
  min-height: 100vh; /* min height will be 100% of veiwport just in case some searches only return small num of stories*/
  margin: 0 auto;
  padding: 20px;
  color: #f0f0f0;
}

.headline-primary {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}

.list-control {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

/* target span that are imediate children of .item */
.item > span {
  padding: 0 5px;
  white-space: nowrap; /* prevents span from wrapping to end when width exhasted */
  overflow: hidden; /* hides text that overflows since there is no wrapping */
  text-overflow: ellipsis; /* appends ... to end of span when width exhasted */
}

/* target a tags that are immediate children of span which is an immediate child of .item */
.item > span > a {
  text-decoration: none;
  color: inherit;
}

.form-container {
  display: flex;
  align-items: center;
}

.button {
  background: transparent;
  border: 1px solid #f0f0f0;
  padding: 5px;
  cursor: pointer;
  color: inherit;
  transition: all 0.2s ease-in;
  outline: none;
}

.button:hover {
  background: #fff;
  color: #000;
}

.button_small {
  padding: 5px;
}

.button_large {
  padding: 10px;
}

.button-hide {
  visibility: hidden;
}

.util-button {
  border: none;
  background: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.util-button:hover > svg {
  fill: crimson;
}

.button-history-container {
  padding-left: 7px;
  display: block;
}

.button-reset {
  margin-top: 10px;
}

.button-remove:hover {
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.button-search {
  border: none;
  border-bottom: 1px solid #fff;
}

.button-like {
  border: none;
  background: transparent;
  padding-right: 5px;
  cursor: pointer;
}

.button-like:hover {
  background: transparent;
}

/* give like the only color of the page */
.like {
  fill: crimson;
}

.search-form {
  padding: 10px 0 20px 0;
  display: flex;
}

.input {
  border: none;
  border-bottom: 1px solid #f0f0f0;
  background-color: transparent;
  color: crimson;
  width: 200px;
  font-size: 24px;
}

.input:focus {
  outline: none;
}

.button:hover > svg {
  color: #fff; /* changes color of text */
  fill: #000; /* changes color of the background */
}

svg {
  fill: #fff; /* default color of svg should be white since dark background */
}
